<div class="col-md-8">
    <table>
        <tr>
            <td>Введите год начала:</td>
            <td>
                <input ng-model="$ctrl.history.startYear">
                <select ng-model="$ctrl.startYearEra">
                    <option>до н.э.</option>
                    <option>н.э.</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Введите год окончания:</td>
            <td>
                <input ng-model="$ctrl.history.endYear">
                <select ng-model="$ctrl.endYearEra">
                    <option>до н.э.</option>
                    <option>н.э.</option>
                </select>
            </td>
        </tr>
    </table>
    <br>
    <h5>Форматирование текста:</h5>
    <br>
    <div id="historyText" contenteditable="true">
        <div></div>
    </div>
    <br>
    <button ng-mousedown="$ctrl.preventDefault()"
            ng-click="$ctrl.makeSelectedBold()">
        <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
    </button>
    <button ng-mousedown="$ctrl.preventDefault()"
            ng-click="$ctrl.makeSelectedItalic()">
        <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
    </button>
    <button ng-mousedown="$ctrl.preventDefault()"
            ng-click="$ctrl.makeSelectedLarger()">
        <span class="glyphicon glyphicon-text-height" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>
    <button ng-mousedown="$ctrl.preventDefault()"
            ng-click="$ctrl.makeSelectedSmaller()">
        <span class="glyphicon glyphicon-text-height" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </button>
    <button id="insertImgButton">
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
    </button>
    <button ng-mousedown="$ctrl.preventDefault()"
            ng-click="$ctrl.makeSelectedUnderline()">
        <u>U</u>
    </button>
    <input ng-model="$ctrl.link">
    <button ng-mousedown="$ctrl.preventDefault()"
            ng-click="$ctrl.insertLink()">
        Link
        </span>
    </button>
    <button ng-mousedown="$ctrl.preventDefault()"
            ng-click="$ctrl.insertBr()">
        <span>Paragraph</span>
    </button>
    <br><br>
    <h5>Добавьте картинки для вставки:</h5>
    <input name="image" id="imageInput" type="file"/>
    <div id="imageContainer" class="btn-group" role="group"></div>
    <br>
    <h5>Перед добавлением загрузите картинки:</h5>
    <button id="imageUpload" class="btn btn-default">Загрузить</button>
    <br><br>
    <button class="btn btn-default" ng-click="$ctrl.addHistory()">Добавить</button>
</div>