<div class="row">
    <form name="addArticleForm" action="/v2/articles" method="post" enctype="multipart/form-data">
        <input name="id" type="hidden" value="{{$ctrl.article.id}}">
        <table>
            <tr>
                <td>
                    <p>Название *:</p>
                    <p>Длина названия: {{$ctrl.article.title.length}}</p>
                    <p>Максимальная длина названия: 100</p>
                </td>
                <td>
                    <input name="title" ng-model="$ctrl.article.title"
                           pattern=".{1,100}" required>
                    <div class="alert alert-danger" ng-show="addArticleForm.title.$dirty
                    && addArticleForm.title.$invalid">
                        Неверный ввод для поля Название
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Краткое описание *:</p>
                    <p>Длина краткого описания:
                        {{$ctrl.article.shortDescription.length}}</p>
                    <p>Максимальная длина краткого описания: 200</p>
                </td>
                <td>
                    <input name="shortDescription" ng-model="$ctrl.article.shortDescription"
                           pattern=".{1,200}" required>
                    <div class="alert alert-danger"
                         ng-show="addArticleForm.shortDescription.$dirty
                    && addArticleForm.shortDescription.$invalid">
                        Неверный ввод для поля Краткое описание
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Содержание *:</p>
                    <p>Длина содержания: {{$ctrl.article.content.length}}</p>
                    <p>Максимальная длина содержания: 2000</p>
                </td>
                <td>
                    <textarea name="content" ng-model="$ctrl.article.content"
                              pattern=".{1,2000}" required></textarea>
                    <div class="alert alert-danger" ng-show="addArticleForm.content.$dirty
                    && addArticleForm.content.$invalid">
                        Неверный ввод для поля Содержание
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Тэги *:</p>
                </td>
                <td>
                    <select multiple name="tags"
                            ng-options="x.name for x in $ctrl.tags track by x.id"
                            ng-model="$ctrl.article.tags" required></select>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Главное фото *:</p>
                </td>
                <td>
                    <input type="file" name="mainPhoto" ng-required="$ctrl.required">
                    <div ng-show="$ctrl.article.id != null">
                        <img src="/resources/images/article/{{$ctrl.article.id + '.jpg'}}" style="max-width: 150px;">
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn" ng-disabled="addArticleForm.$invalid">
            Добавить
        </button>
    </form>
</div>