<form name="addEventForm" action="/events" method="post" enctype="multipart/form-data">
    <input name="id" type="hidden" value="{{$ctrl.event.id}}">
    <label>Title *:</label>
    <input name="title" ng-model="$ctrl.event.title" required>
    <p>Length: {{$ctrl.event.title.length}}</p>
    <p>Max length: 100</p>
    <br>
    <label>Location *:</label>
    <input name="location" ng-model="$ctrl.event.location" required>
    <p>Length: {{$ctrl.event.location.length}}</p>
    <p>Max length: 100</p>
    <br>
    <label>Time *:</label>
    <input name="time" type="datetime-local" ng-model="$ctrl.timeStr"
           min="{{$ctrl.dateNow | date:'yyyy-MM-ddTHH:mm'}}" required>
    <br>
    <label>Description *:</label>
    <textarea name="description" ng-model="$ctrl.event.description"
              required></textarea>
    <p>Length: {{$ctrl.event.description.length}}</p>
    <p>Max length: 1000</p>
    <br>
    <label>Main photo *:</label>
    <input type="file" name="mainPhoto" ng-required="$ctrl.required">
    <div ng-show="$ctrl.event.id != null">
        <img src="res/img/event/{{$ctrl.event.id + '.jpg'}}" style="max-width: 300px;">
    </div>
    <button type="submit" class="btn" ng-disabled="addEventForm.$invalid">
        Add event
    </button>
</form>