<div class="row">
    <form name="addEventForm" action="/events" method="post" enctype="multipart/form-data">
        <input name="id" type="hidden" value="{{$ctrl.event.id}}">
        <table>
            <tr>
                <td>
                    <p>Название *:</p>
                    <p>Длина названия: {{$ctrl.event.title.length}}</p>
                    <p>Максимальная длина названия: 100</p>
                </td>
                <td>
                    <input name="title" ng-model="$ctrl.event.title"
                           pattern=".{1,100}" required>
                    <div class="alert alert-danger" ng-show="addEventForm.title.$touched
                    && addEventForm.title.$invalid">
                        Неверный ввод для поля Название
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Место проведния *:</p>
                    <p>Длина места проведения: {{$ctrl.event.location.length}}</p>
                    <p>Максимальная длина места проведения: 100</p>
                </td>
                <td>
                    <input name="location" ng-model="$ctrl.event.location"
                           pattern=".{1,100}" required>
                    <div class="alert alert-danger" ng-show="addEventForm.location.$touched
                    && addEventForm.location.$invalid">
                        Неверный ввод для поля Место проведения
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Время проведения*:</p>
                </td>
                <td>
                    <input name="time" type="datetime-local" ng-model="$ctrl.timeStr"
                           min="{{$ctrl.dateNow | date:'yyyy-MM-ddTHH:mm'}}" required>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Описание *:</p>
                    <p>Длина описания: {{$ctrl.event.description.length}}</p>
                    <p>Максимальная длина описания: 1000</p>
                </td>
                <td>
                    <textarea name="description" ng-model="$ctrl.event.description"
                              pattern=".{1,1000}" required></textarea>
                    <div class="alert alert-danger" ng-show="addEventForm.description.$touched
                    && addEventForm.description.$invalid">
                        Неверный ввод для поля Описание
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Главное фото *:</p>
                </td>
                <td>
                    <input type="file" name="mainPhoto" ng-required="$ctrl.required">
                    <div ng-show="$ctrl.event.id != null">
                        <img src="res/img/event/{{$ctrl.event.id + '.jpg'}}"
                             style="max-width: 150px;">
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn" ng-disabled="addEventForm.$invalid">
            Добавить
        </button>
    </form>
</div>