<div class="row">
    <div ng-show="$ctrl.showToolbar">
        <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" type="button"
                    id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Сортировать по
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="" ng-click="$ctrl.changeSort('placementDate')">Дате добавления</a></li>
                <li><a href="" ng-click="$ctrl.changeSort('expirationDate')">Дате истечения</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="$ctrl.searchKeyword"
                       placeholder="Поиск...">
                <span class="input-group-btn">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <button class="btn btn-default" type="button"
                        ng-click="$ctrl.search()">Поиск</button>
            </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="advertisement in $ctrl.advertisements"
             ng-class="$ctrl.isExpired(advertisement)">
            <img src="/resources/images/advertisement/{{advertisement.id + '.jpg'}}">
            <p class="title">
                <a ng-click="$ctrl.openAdvertisementPage(advertisement)">
                    {{advertisement.title}}
                </a>
            </p>
            <p>Дата добавления: {{advertisement.placementDate | date}}</p>
            <p>Дата истечения: {{advertisement.expirationDate | date}}</p>
        </div>
    </div>
</div>
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li ng-repeat="pageNum in $ctrl.getPageNumber() track by $index">
                <a href="" ng-click="$ctrl.loadAdvertisementsByPage($index+1)">{{$index+1}}</a>
            </li>
        </ul>
    </nav>
</div>