<table class="table">
    <thead>
    <th>Логин</th>
    <th>Роль</th>
    <th>Действия</th>
    </thead>
    <tbody>
    <tr ng-repeat="user in $ctrl.users">
        <td>{{user.login}}</td>
        <td>{{user.role}}</td>
        <td>
            <button class="btn" ng-click="$ctrl.removeUser(user)">Удалить пользователя</button>
            <label>Права автора:</label>
            <button class="btn" ng-click="$ctrl.addAuthorPermissions(user)">
                Добавить
            </button>
            <button class="btn" ng-click="$ctrl.removeAuthorPermissions(user)">
                Удалить
            </button>
            <label>Права администратора:</label>
            <button class="btn" ng-click="$ctrl.addAdminPermissions(user)">
                Добавить
            </button>
            <button class="btn" ng-click="$ctrl.removeAdminPermissions(user)">
                Удалить
            </button>
        </td>
    </tr>
    </tbody>
</table>