<div class="flex-container">
    <ul>
       <li ng-repeat="tag in $ctrl.popularTags">
           <a href="" ng-click="$ctrl.loadArticlesByTag(tag.id)">#{{tag.name}}</a>
       </li>
    </ul>
    <div class="flex-block" ng-repeat="article in $ctrl.articles">
        <img src="res/img/article/{{article.id + '.jpg'}}" style="max-width: 240px">
        <p>
            <a ng-click="$ctrl.openArticlePage(article)">{{article.title}}</a>
        </p>
        <p>{{article.shortDescription}}</p>
        <p>Publish date: {{article.publishDate | date}} {{article.tags}}</p>
    </div>
</div>