<div class="row">
    <div class="dropdown" ng-show="!$ctrl.showOnlyInteresting">
        <button class="btn btn-default dropdown-toggle" type="button"
                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
            Выберите тэг:
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="tag in $ctrl.popularTags">
                <a href="" ng-click="$ctrl.loadArticlesByTag(tag)">{{tag.name}}</a>
            </li>
        </ul>
    </div>
    <input type="checkbox" ng-model="$ctrl.showOnlyInteresting"
           ng-change="$ctrl.loadInterestingArticles()">Показывать только интересные мне
</div>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="article in $ctrl.articles">
            <img src="res/img/article/{{article.id + '.jpg'}}" style="max-width: 240px">
            <p>
                <a ng-click="$ctrl.openArticlePage(article)">{{article.title}}</a>
            </p>
            <p>{{article.shortDescription}}</p>
            <p>Дата публикации: {{article.publishDate | date}}</p>
            <span ng-repeat="tag in article.tags">
                <a href="" ng-click="$ctrl.loadArticlesByTag(tag)">#{{tag.name}}</a>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li ng-repeat="pageNum in $ctrl.getPageNumber() track by $index">
                <a href="" ng-click="$ctrl.loadArticlesByPage($index+1)">{{$index+1}}</a>
            </li>
        </ul>
    </nav>
</div>