<div class="row">
    <h2>Interesting articles for you:</h2>
</div>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="article in $ctrl.articles">
            <img src="res/img/article/{{article.id + '.jpg'}}" style="max-width: 240px">
            <p>
                <a ng-click="$ctrl.openArticlePage(article)">{{article.title}}</a>
            </p>
            <p>{{article.shortDescription}}</p>
            <p>Publish date: {{article.publishDate | date}} {{article.tags}}</p>
        </div>
    </div>
</div>
<div class="row">
    <h2>Interesting events for you:</h2>
</div>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="event in $ctrl.events">
            <img src="res/img/event/{{event.id + '.jpg'}}" style="max-width: 240px">
            <p>
                <a ng-click="$ctrl.openEventPage(event)">{{event.title}}</a>
            </p>
            <p>{{event.location}}</p>
        </div>
    </div>
</div>
<div class="row">
    <h2>New advertisements:</h2>
</div>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="advertisement in $ctrl.newAdvertisements">
            <img src="res/img/advertisement/{{advertisement.id + '.jpg'}}" style="max-width: 240px">
            <p>
                <a ng-click="$ctrl.openAdvertisementPage(advertisement)">
                    {{advertisement.title}}
                </a>
            </p>
            <p>Placement date: {{advertisement.placementDate | date}}</p>
            <p>Expiration date: {{advertisement.expirationDate | date}}</p>
        </div>
    </div>
</div>
<div class="row">
    <h2>Expiring advertisements:</h2>
</div>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="advertisement in $ctrl.expiringAdvertisements">
            <img src="res/img/advertisement/{{advertisement.id + '.jpg'}}" style="max-width: 240px">
            <p>
                <a ng-click="$ctrl.openAdvertisementPage(advertisement)">
                    {{advertisement.title}}
                </a>
            </p>
            <p>Placement date: {{advertisement.placementDate | date}}</p>
            <p>Expiration date: {{advertisement.expirationDate | date}}</p>
        </div>
    </div>
</div>