<div class="row">
    <h2>Интересные новости для вас:</h2>
</div>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="article in $ctrl.articles">
            <div class="image">
                <img src="/resources/images/article/{{article.id + '.jpg'}}">
                <h6>
                    <a ng-click="$ctrl.openArticlePage(article)">
                        <span>{{article.title}}</span>
                    </a>
                </h6>
            </div>
            <p class="description">{{article.shortDescription}}</p>
            <p>Дата публикации: {{article.publishDate | date}}</p>
            <span ng-repeat="tag in article.tags">
                <a href="" ng-click="$ctrl.loadArticlesByTag(tag)">#{{tag.name}}</a>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <h2>Топ рейтинговых предстоящих событий:</h2>
</div>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="event in $ctrl.upcomingEvents">
            <div class="image">
                <img src="/resources/images/event/{{event.id + '.jpg'}}">
                <h6>
                    <a ng-click="$ctrl.openEventPage(event)">
                        <span>{{event.title}}</span>
                    </a>
                </h6>
            </div>
            <p>Место: {{event.location}}</p>
        </div>
    </div>
</div>
<div class="row">
    <h2>Топ рейтинговых прошедших событий:</h2>
</div>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="event in $ctrl.pastEvents">
            <div class="image">
                <img src="/resources/images/event/{{event.id + '.jpg'}}">
                <h6>
                    <a ng-click="$ctrl.openEventPage(event)">
                        <span>{{event.title}}</span>
                    </a>
                </h6>
            </div>
            <p>Место: {{event.location}}</p>
        </div>
    </div>
</div>
<div class="row">
    <h2>Закрывающиеся объявления:</h2>
</div>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="advertisement in $ctrl.expiringAdvertisements">
            <img src="/resources/images/advertisement/{{advertisement.id + '.jpg'}}">
            <p class="title">
                <a ng-click="$ctrl.openAdvertisementPage(advertisement)">
                    {{advertisement.title}}
                </a>
            </p>
            <p>Дата добавления: {{advertisement.placementDate | date}}</p>
            <p>Дата истечения: {{advertisement.expirationDate | date}}</p>
        </div>
    </div>
</div>
<div class="row">
    <h2>Новые объявления:</h2>
</div>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="advertisement in $ctrl.newAdvertisements">
            <img src="/resources/images/advertisement/{{advertisement.id + '.jpg'}}" style="max-width: 240px">
            <p class="title">
                <a ng-click="$ctrl.openAdvertisementPage(advertisement)">
                    {{advertisement.title}}
                </a>
            </p>
            <p>Дата добавления: {{advertisement.placementDate | date}}</p>
            <p>Дата истечения: {{advertisement.expirationDate | date}}</p>
        </div>
    </div>
</div>