<form name="addAdvertisementForm" action="/addAdvertisement"
      method="post" enctype="multipart/form-data">
    <label>Name *:</label>
    <input name="title" ng-model="$ctrl.advertisement.title" required>
    <br>
    <label>Content *:</label>
    <textarea name="description" ng-model="$ctrl.advertisement.description" required></textarea>
    <br>
    <label>Expiration date *:</label>
    <input name="expirationDate" ng-model="$ctrl.advertisement.expirationDate" type="date" required>
    <br>
    <input type="file" name="mainPhoto" required>
    <button type="submit" class="btn" ng-disabled="addAdvertisementForm.$invalid">
        Add advertisement
    </button>
</form>