<div class="row">
    <h3>Комментарии: </h3>
    <div class="col-md-12" ng-repeat="comment in $ctrl.recentComments">
        <span>В {{comment.publishDate | date : "M/d/yy h:mm a"}}</span>
        <span> оставил(а) комментарий - "{{comment.content}}"</span>
    </div>
</div>
<div class="row">
    <h3>Оценки предстоящих событий: </h3>
    <div class="col-md-12" ng-repeat="ber in $ctrl.recentBeforeEventRates">
        К событию <a href="" ng-click="$ctrl.openEventPage(ber.event)">{{ber.event.title}}</a>
        <span> оставил(а) оценку - {{ber.eventUserChoice}}</span>
    </div>
</div>
<div class="row">
    <h3>Оценки прошедших событий: </h3>
    <div class="col-md-12" ng-repeat="aer in $ctrl.recentAfterEventRates">
        К событию <a href="" ng-click="$ctrl.openEventPage(aer.event)">{{aer.event.title}}</a>
        <span> оставил(а) оценку - {{aer.rate}}</span>
    </div>
</div>