<h3>Выберите теги интересные для вас:</h3>
<div class="row">
    <button type="button" class="btn btn-default"
            ng-repeat="tag in $ctrl.tags"
            ng-click="$ctrl.addOrExcludeTag(tag)"
            id="{{tag.name}}">
        <span class="glyphicon glyphicon-plus"
              ng-show="$ctrl.isExcluded(tag)"
              aria-hidden="true"></span>
        <span class="glyphicon glyphicon-remove"
              ng-show="!$ctrl.isExcluded(tag)"
              aria-hidden="true"></span>
        {{tag.name}}
    </button>
</div>
<h3>Поменяйте фото своего аккаунта:</h3>
<br>
<div class="row">
    <form action="/account/photo" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <br>
        <input class="btn btn-default" type="submit" value="Изменить">
    </form>
</div>