<button ng-click="$ctrl.editArticle()">
    Edit
</button>
<div class="row">
    <h3>{{$ctrl.article.title}}</h3>
</div>
<div class="row">
    <h5>{{$ctrl.article.shortDescription}}</h5>
</div>
<div class="row">
    <h5>by <a href="" ng-click="$ctrl.getArticlesOfAuthor($ctrl.article.author)">
        {{$ctrl.article.author.login}}</a>
        at {{$ctrl.article.publishDate | date}}
    </h5>
</div>
<div class="row">
    <span ng-repeat="tag in $ctrl.article.tags">{{tag.name}},</span>
</div>
<div class="row">
    <img src="res/img/article/{{$ctrl.article.id + '.jpg'}}" style="max-width: 300px;">
</div>
<p>{{$ctrl.article.content}}</p>
<div ng-repeat="comment in $ctrl.article.comments">
    <p><a href="" ui-sref="userPage.recentActions({user : comment.publisher})">
        {{comment.publisher.login}}
    </a> {{comment.publishDate | date : "M/d/yy h:mm a"}}</p>
    <p>{{comment.content}}</p>
</div>
<div class="row">
    <textarea ng-model="$ctrl.comment.content">
    </textarea>
    <button ng-click="$ctrl.addComment()">Add</button>
</div>