<form name="addAdvertisementForm" action="/advertisements"
      method="post" enctype="multipart/form-data">
    <input name="id" type="hidden" value="{{$ctrl.advertisement.id}}">
    <label>Title *:</label>
    <input name="title" ng-model="$ctrl.advertisement.title" required>
    <p>Length: {{$ctrl.advertisement.title.length}}</p>
    <p>Max length: 100</p>
    <br>
    <label>Description *:</label>
    <textarea name="description" ng-model="$ctrl.advertisement.description" required></textarea>
    <p>Length: {{$ctrl.advertisement.description.length}}</p>
    <p>Max length: 1000</p>
    <br>
    <label>Expiration date *:</label>
    <input type="date" name="expirationDate"
           ng-model="$ctrl.advertisement.expirationDate"
           min="{{$ctrl.dateNow | date:'yyyy-MM-dd'}}" required>
    <br>
    <label>Main photo *:</label>
    <input type="file" name="mainPhoto" required>
    <div ng-show="$ctrl.advertisement.id != null">
        <img src="res/img/advertisement/{{$ctrl.advertisement.id + '.jpg'}}">
    </div>
    <button type="submit" class="btn" ng-disabled="addAdvertisementForm.$invalid">
        Add advertisement
    </button>
</form>