<div class="row">
    <form name="addAdvertisementForm" action="/v1/advertisements"
          method="post" enctype="multipart/form-data">
        <input name="id" type="hidden" value="{{$ctrl.advertisement.id}}">
        <table>
            <tr>
                <td>
                    <p>Название *:</p>
                    <p>Длина названия: {{$ctrl.advertisement.title.length}}</p>
                    <p>Максимальная длина названия: 100</p>
                </td>
                <td>
                    <input name="title" ng-model="$ctrl.advertisement.title"
                           pattern=".{1,100}" required>
                    <div class="alert alert-danger" ng-show="addAdvertisementForm.title.$dirty
                    && addAdvertisementForm.title.$invalid">
                        Неверный ввод для поля Название
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Описание *:</p>
                    <p>Длина описания: {{$ctrl.advertisement.description.length}}</p>
                    <p>Максимальная длина описания: 1000</p>
                </td>
                <td>
                    <textarea name="description"
                              ng-model="$ctrl.advertisement.description"
                              pattern=".{1,1000}" required></textarea>
                    <div class="alert alert-danger"
                         ng-show="addAdvertisementForm.description.$dirty
                    && addAdvertisementForm.description.$invalid">
                        Неверный ввод для поля Описание
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Дата истечения *:</p>
                </td>
                <td>
                    <input type="date" name="expirationDate"
                           ng-model="$ctrl.dateStr"
                           min="{{$ctrl.dateNow | date:'yyyy-MM-dd'}}" required>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Главное фото *:</p>
                </td>
                <td>
                    <input type="file" name="mainPhoto" ng-required="$ctrl.required">
                    <div ng-show="$ctrl.advertisement.id != null">
                        <img src="res/img/advertisement/{{$ctrl.advertisement.id + '.jpg'}}" style="max-width: 150px;">
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn" ng-disabled="addAdvertisementForm.$invalid">
            Добавить
        </button>
    </form>
</div>