<div class="row">
    <label>Название *:</label>
    <input name="name" ng-model="$ctrl.tagName" required>
    <p>Длина названия: {{$ctrl.tagName.length}}</p>
    <p>Максимальная длина названия: 30</p>
    <button type="submit" class="btn" ng-disabled="addTagForm.$invalid"
            ng-click="$ctrl.addTag()">
        Добавить
    </button>
</div>
<p>Выберите тэг(и) для удаления: </p>
<select multiple ng-model="$ctrl.chosenTags"
        ng-options="x.name for x in $ctrl.tags track by x.id">
</select>
<button ng-click="$ctrl.deleteTags()">
    Удалить
</button>