<h2>Search results:</h2>
<div class="row">
    <div class="flex-container">
        <div class="flex-block" ng-repeat="obj in $ctrl.searchData">
            <img src="/resources/images/{{$ctrl.scope}}/{{obj.id + '.jpg'}}">
            <p>
                <a ng-click="$ctrl.openResultPage(obj)">{{obj.title}}</a>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li ng-repeat="pageNum in $ctrl.getPageNumber() track by $index">
                <a href="" ng-click="$ctrl.loadByPage($index+1)">{{$index+1}}</a>
            </li>
        </ul>
    </nav>
</div>