<table class="table">
    <thead>
    <th>Main title</th>
    <th>Short title</th>
    <th>Content</th>
    <th>Publish date</th>
    <th>Authors</th>
    <th>Tags</th>
    <th>Comments</th>
    </thead>
    <tbody>
    <tr ng-repeat="article in $ctrl.articles">
        <td>{{article.mainTitle}}</td>
        <td>{{article.shortTitle}}</td>
        <td>{{article.content}}</td>
        <td>{{article.publishDate}}</td>
        <td>{{article.authors}}</td>
        <td>{{article.tags}}</td>
        <td>{{article.comments}}</td>
    </tr>
    </tbody>
</table>
<div>
    <label>Main title:</label>
    <input ng-model="$ctrl.articleToAdd.mainTitle">
    <br>
    <label>Short title:</label>
    <input ng-model="$ctrl.articleToAdd.shortTitle">
    <br>
    <label>Content:</label>
    <input ng-model="$ctrl.articleToAdd.content">
    <br>
    <select multiple ng-model="$ctrl.tags">
        <option>Entertainment</option>
        <option>Fashion</option>
        <option>Business</option>
        <option>Politics</option>
    </select>
    <button class="btn" ng-click="$ctrl.addArticle()">Add article</button>
</div>