<nav class="navbar navbar-default" contenteditable="false">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">Минск 24</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ui-sref-active="articles">
                <a href="" ng-click="$ctrl.goToArticles()">Новости</a>
            </li>
            <li ui-sref-active="advertisements">
                <a href="" ng-click="$ctrl.goToAdvertisements()">Объявления</a>
            </li>
            <li ui-sref-active="events">
                <a href="" ng-click="$ctrl.goToEvents()">События</a>
            </li>
            <li ui-sref-active="history">
                <a href="" ui-sref="history">История</a>
            </li>
            <li ui-sref-active="addAdvertisement" ng-show="$ctrl.currentUser.role">
                <a ui-sref="addAdvertisement">Добавить объявление</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="$ctrl.currentUser.role">
                <a ui-sref="userPage.recentActions">Моя страница</a>
            </li>
            <li ng-show="!$ctrl.currentUser.role"><a href="/login">Войти</a></li>
            <li ng-show="$ctrl.currentUser.role"><a href="/logout">Выйти</a></li>
        </ul>
    </div>
</div>
</nav>