<div class="flex-container">
    <div class="flex-block" ng-repeat="article in $ctrl.articles">
        <img src="img/article/{{article.id + '.jpg'}}" style="max-width: 240px">
        <p>
            <a ng-click="$ctrl.openArticlePage(article)">{{article.title}}</a>
        </p>
        <p>{{article.shortDescription}}</p>
        <p>{{article.publishDate | date}} {{article.tags}}</p>
    </div>
</div>

<table class="table">
    <thead>
    <th>Photo</th>
    <th>Title</th>
    <th>Description</th>
    <th>Content</th>
    <th>Publish date</th>
    <th>Author</th>
    <th>Tags</th>
    <th>Comments</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr ng-repeat="article in $ctrl.articles">
        <td><img src="img/article/{{article.id + '.jpg'}}" style="max-width: 200px"></td>
        <td><a ng-click="$ctrl.openArticlePage(article)">{{article.title}}</a></td>
        <td>{{article.shortDescription}}</td>
        <td>{{article.content}}</td>
        <td>{{article.publishDate | date}}</td>
        <td>{{article.authors}}</td>
        <td>{{article.tags}}</td>
        <td>{{article.comments}}</td>
        <td>
            <button ng-click="$ctrl.editArticle(article)">
                Edit
            </button>
        </td>
    </tr>
    </tbody>
</table>