<div class="row">
    <h2>Articles</h2>
    <div class="col-md-3" ng-repeat="article in $ctrl.articles">
        <img src="img/articles/{{article.mainPhoto}}" style="max-width: 200px">
        <p><a ng-click="$ctrl.openArticlePage(article)">{{article.mainTitle}}</a></p>
        <p>{{article.shortTitle}}</p>
        <button ng-click="$ctrl.editArticle(article)"
                ng-show="$ctrl.currentUser.role === 'ADMIN' || $ctrl.currentUser.role === 'AUTHOR'">
            Edit
        </button>
    </div>
</div>
<div class="row">
    <h2>Advertisements</h2>
    <div class="col-md-3" ng-repeat="advertisement in $ctrl.advertisements">
        <img src="img/advertisements/{{advertisement.mainPhoto}}" style="max-width: 200px">
        <p><a ng-click="$ctrl.openAdvertisementPage(advertisement)">{{advertisement.name}}</a></p>
        <p>{{advertisement.placementDate | date}} - {{advertisement.expirationDate | date}}</p>
        <button ng-click="$ctrl.editAdvertisement(advertisement)" ng-show="$ctrl.currentUser.role === 'ADMIN'">
            Edit
        </button>
    </div>
</div>
<div class="row">
    <h2>Events</h2>
    <div class="col-md-3" ng-repeat="event in $ctrl.events">
        <img src="img/events/{{event.mainPhoto}}" style="max-width: 200px">
        <p><a ng-click="$ctrl.openEventPage(event)">{{event.name}}</a></p>
        <p>{{event.location}}</p>
        <button ng-click="$ctrl.editEvent(event)" ng-show="$ctrl.currentUser.role === 'ADMIN'">
            Edit
        </button>
    </div>
</div>