<button ng-click="$ctrl.editAdvertisement()">
    Edit
</button>
<div class="row">
    <h3>{{$ctrl.advertisement.title}}</h3>
</div>
<div class="row">
    <h5>{{$ctrl.advertisement.holder.login}}</h5>
</div>
<div class="row">
    <h5>Placement date: {{$ctrl.advertisement.placementDate | date}}</h5>
</div>
<div class="row">
    <h5>Expiration date: {{$ctrl.advertisement.expirationDate | date}}</h5>
</div>
<div class="row">
    <img src="res/img/advertisement/{{$ctrl.advertisement.id + '.jpg'}}">
</div>
<p>{{$ctrl.advertisement.description}}</p>
<div ng-repeat="comment in $ctrl.advertisement.comments">
    <p>{{comment.publisher.login}} {{comment.publishDate | date : "M/d/yy h:mm a"}}</p>
    <p>{{comment.content}}</p>
</div>
<div class="row">
    <textarea ng-model="$ctrl.comment.content">
    </textarea>
    <button ng-click="$ctrl.addComment()">Add</button>
</div>